
/////////////
// parameters

params {
  reads = "./testdata/*_{R1,R2}.fastq"
  genome = "/Shared/Bioinformatics/data/bcbio/genomes/Hsapiens/GRCh37/bwa/GRCh37.fa"
  bwa = "/Shared/Bioinformatics/data/bcbio/bin/bwa"
  outdir = "."
  tracedir = "${params.outdir}/pipeline_info"
  email_to = 'michael-chimenti@uiowa.edu'
  pipeline_email = true
}

/////////////
// timeline, report, trace, dag setup

timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}

report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}

trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
  fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes"
}

dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag.svg"
}


///////////////
// notifications

notification {
    enabled = params.pipeline_email
    to = "${params.email_to}"
}

///////////////
// manifest

manifest {
  name = 'mchimenti/atacseq'
  author = 'Michael Chimenti'
  homePage = 'https://github.com/mchimenti/ATAC_seq_nextflow.git'
  description = 'ATACSeq peak-calling and differential analysis pipeline.'
  mainScript = 'atacseq.nf'
  version = '1.0dev'
}

///////////////
// profiles 

profiles {
	argon {
	  process {
	    executor = 'sge'
	    queue = 'IIHG'
	    memory = 128.GB
            cpus = 28
	    penv = 'smp'
	}
	}
}
	
